# Classificação final dos aprovados no concurso da Prefeitura de Poços de Caldas
### Projeto para organizar lista de aprovados no concurso por nota, função, aplicando o critério de desempate da idade

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('concursopc.xlsx')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Nome,Função,Inscrição,Nascimento,Objetiva
1,ADALTON CÉSAR RODRIGUES,Advogado,224690,1997-12-19 00:00:00,79.0
2,ADAMS THIERRY SANTOS BRANDÃO,Agente de Atendimento Emergencial,226351,2001-05-10 00:00:00,61.1
3,ADELAIDE DANZIGER GOMES,Merendeira,226271,1970-05-12 00:00:00,70.0
4,ADELAIDE MARA OLIVEIRA SILVA,Auxiliar de Serviços Gerais,227178,1973-01-25 00:00:00,60.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2210 entries, 0 to 2209
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2209 non-null   object
 1   Unnamed: 1  2210 non-null   object
 2   Unnamed: 2  2209 non-null   object
 3   Unnamed: 3  2209 non-null   object
 4   Unnamed: 4  2209 non-null   object
dtypes: object(5)
memory usage: 86.5+ KB

In [5]:
# excluindo coluna que não será necessária para esta análise
df = df.drop(['Unnamed: 2'], axis=1)

In [6]:
# excluindo a primeira linha que deveria ser as colunas
df = df.drop([df.index[0]])

In [7]:
# renomeando as colunas com os nomes corretos
df = df.rename(columns = {'Unnamed: 0':'Nome', 'Unnamed: 1':'Função', 'Unnamed: 3':'Nascimento', 'Unnamed: 4':'Nota'})

In [8]:
# deletando linhas com valores nulos
df = df.dropna()

In [9]:
# ordenando a tabela por cargos, nota e com o critério de desempate por idade
df = df.sort_values(['Função', 'Nota', 'Nascimento'], ascending = [True, False, True])
df.head()

                                   Nome    Função           Nascimento  Nota
1527  MARIANA PEREIRA DE ANDRADE VALLIM  Advogado  1992-06-10 00:00:00  97.0
2169               VITORIA VIEIRA GUIDI  Advogado  1996-04-29 00:00:00  95.0
1226      LEONARDO TEMÍSTOCLES NOGUEIRA  Advogado  1998-02-15 00:00:00  95.0
193                  ANDRÉ PEREIRA MELO  Advogado  1991-09-30 00:00:00  94.0
679             FABÍOLA MARQUES REZENDE  Advogado  1989-11-23 00:00:00  92.0

In [10]:
# exportando o dataframe manipulado para um arquivo excel
classificados = "Classificados.xlsx"
df.to_excel(classificados)